In [1]:
from ipynb.fs.full.datagetter import *
from ipynb.fs.full.forest import predict, backtest

In [35]:
def acquire_predictors(symbol, length=10, increment=60):
    stop_time = datetime.datetime.now() + datetime.timedelta(minutes=length)
    s = get_data(symbol, stop_time, 60)
    s = s.reset_index()
    del s[s.columns[0]]
    del s['Change']
    del s['Percent']
    del s['Symbol']
    del s['Time']
    s = s.T
    # predict with model
    # print prediction

In [36]:
a = test_model('AAPL')
a

,0,1,2,3,4,5,6,7,8,9,10
Price,179.16,179.16,179.17,179.22,179.21,179.21,179.17,179.13,179.13,179.13,179.14

In [43]:
# make predictions with user inputs
preds = []
for i in range(10):
    a = int(input(f"Enter value {i+1}: "))
    preds.append(a)
print(preds)
cont = True
while cont:
    a = int(input(f"Enter value: "))
    preds.append(a)
    preds.pop(0)
    print(preds)
    if a == -5:
        cont = False
        
# take in 10 values, make prediction
# take in another value, make prediction


# continually store values until the user prompts for a prediction

Enter value 1:  1
Enter value 2:  2
Enter value 3:  3
Enter value 4:  4
Enter value 5:  5
Enter value 6:  6
Enter value 7:  7
Enter value 8:  8
Enter value 9:  9
Enter value 10:  0

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

Enter value:  5

[2, 3, 4, 5, 6, 7, 8, 9, 0, 5]

Enter value:  6

[3, 4, 5, 6, 7, 8, 9, 0, 5, 6]

Enter value:  10

[4, 5, 6, 7, 8, 9, 0, 5, 6, 10]

Enter value:  -5

[5, 6, 7, 8, 9, 0, 5, 6, 10, -5]