In [3]:
import pandas as pd
import numpy as np
import random

In [156]:
# change method
df['Next'] = df['Close'].shift(-1)

In [209]:
type(prac['Minute'][0])

str

In [220]:
for i in range(2):
    print(df.at[i+1,'Minute'])

09:31:00
09:32:00

In [254]:
prac['Change'] = prac['Next'] - prac['Close']

In [267]:
prac['Direction'] = (prac['Next'] > prac['Close']).astype(int)

In [269]:
prac.to_csv('usable_sp2019.csv')

In [4]:
df = pd.read_csv('usable_sp2019.csv', index_col=0)

In [6]:
del df["Change"]

In [11]:
df['Next 1'] = df['Close'].shift(-2)

In [14]:
del df['Next 1']

In [16]:
del df['Next']

In [18]:
df['Prev 1'] = df['Close'].shift(1)

In [24]:
df['Prev 1'] = df['Close'].shift(1)
df['Prev 2'] = df['Close'].shift(2)
df['Prev 3'] = df['Close'].shift(3)
df['Prev 4'] = df['Close'].shift(4)
df['Prev 5'] = df['Close'].shift(5)
df['Prev 6'] = df['Close'].shift(6)
df['Prev 7'] = df['Close'].shift(7)
df['Prev 8'] = df['Close'].shift(8)
df['Prev 9'] = df['Close'].shift(9)
df['Prev 10'] = df['Close'].shift(10)

In [36]:
uncleaned_data = pd.read_csv('sp2019.txt', index_col=0)

In [38]:
shifted = uncleaned_data.copy()

In [43]:
for i in range(1, 11, 1):
    shifted[f"Prev {i}"] = shifted['Close'].shift(i)

In [44]:
shifted

,Minute,Open,High,Low,Close,Prev 1,Prev 2,Prev 3,Prev 4,Prev 5,Prev 6,Prev 7,Prev 8,Prev 9,Prev 10
Day,,,,,,,,,,,,,,,
2019.01.02,09:30:00,2476.96,2476.96,2470.98,2470.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019.01.02,09:31:00,2470.80,2474.09,2473.70,2470.80,2470.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019.01.02,09:32:00,2473.56,2473.56,2471.44,2471.26,2470.80,2470.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019.01.02,09:33:00,2471.30,2472.88,2471.67,2469.64,2471.26,2470.80,2470.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019.01.02,09:34:00,2471.88,2472.49,2471.04,2470.11,2469.64,2471.26,2470.80,2470.40,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-31,15:55:00,3228.82,3230.04,3228.62,3230.04,3228.88,3226.59,3226.12,3224.97,3225.65,3226.01,3225.86,3226.68,3226.94,3226.77
2019-12-31,15:56:00,3230.06,3230.08,3228.42,3228.42,3230.04,3228.88,3226.59,3226.12,3224.97,3225.65,3226.01,3225.86,3226.68,3226.94
2019-12-31,15:57:00,3228.23,3228.47,3227.39,3227.62,3228.42,3230.04,3228.88,3226.59,3226.12,3224.97,3225.65,3226.01,3225.86,3226.68
2019-12-31,15:58:00,3227.70,3228.14,3227.21,3227.58,3227.62,3228.42,3230.04,3228.88,3226.59,3226.12,3224.97,3225.65,3226.01,3225.86
2019-12-31,15:59:00,3227.75,3231.72,3227.75,3230.56,3227.58,3227.62,3228.42,3230.04,3228.88,3226.59,3226.12,3224.97,3225.65,3226.01

In [74]:
prac = shifted.copy()

In [75]:
prac

,Minute,Open,High,Low,Close,Prev 1,Prev 2,Prev 3,Prev 4,Prev 5,Prev 6,Prev 7,Prev 8,Prev 9,Prev 10
Day,,,,,,,,,,,,,,,
2019.01.02,09:30:00,2476.96,2476.96,2470.98,2470.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019.01.02,09:31:00,2470.80,2474.09,2473.70,2470.80,2470.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019.01.02,09:32:00,2473.56,2473.56,2471.44,2471.26,2470.80,2470.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019.01.02,09:33:00,2471.30,2472.88,2471.67,2469.64,2471.26,2470.80,2470.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019.01.02,09:34:00,2471.88,2472.49,2471.04,2470.11,2469.64,2471.26,2470.80,2470.40,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-31,15:55:00,3228.82,3230.04,3228.62,3230.04,3228.88,3226.59,3226.12,3224.97,3225.65,3226.01,3225.86,3226.68,3226.94,3226.77
2019-12-31,15:56:00,3230.06,3230.08,3228.42,3228.42,3230.04,3228.88,3226.59,3226.12,3224.97,3225.65,3226.01,3225.86,3226.68,3226.94
2019-12-31,15:57:00,3228.23,3228.47,3227.39,3227.62,3228.42,3230.04,3228.88,3226.59,3226.12,3224.97,3225.65,3226.01,3225.86,3226.68
2019-12-31,15:58:00,3227.70,3228.14,3227.21,3227.58,3227.62,3228.42,3230.04,3228.88,3226.59,3226.12,3224.97,3225.65,3226.01,3225.86
2019-12-31,15:59:00,3227.75,3231.72,3227.75,3230.56,3227.58,3227.62,3228.42,3230.04,3228.88,3226.59,3226.12,3224.97,3225.65,3226.01

In [82]:
prac = prac.reset_index()

In [93]:
d = final.at[0, 'Minute']
d

'09:40:00'

In [80]:
for i in range(9, 97740, 1):
    if prac.at[i, 'Minute'] == d:
        prac.drop(i,axis=0,inplace=True)
        prac.drop(i-1,axis=0,inplace=True)
        prac.drop(i-2,axis=0,inplace=True)
        prac.drop(i-3,axis=0,inplace=True)
        prac.drop(i-4,axis=0,inplace=True)
        prac.drop(i-5,axis=0,inplace=True)
        prac.drop(i-6,axis=0,inplace=True)
        prac.drop(i-7,axis=0,inplace=True)
        prac.drop(i-8,axis=0,inplace=True)
        prac.drop(i-9,axis=0,inplace=True)

In [86]:
final = prac.copy()

In [87]:
final['Next'] =

,index,Day,Minute,Open,High,Low,Close,Prev 1,Prev 2,Prev 3,Prev 4,Prev 5,Prev 6,Prev 7,Prev 8,Prev 9,Prev 10
0,10,2019.01.02,09:40:00,2473.16,2473.17,2471.02,2469.75,2470.78,2470.74,2471.55,2468.84,2467.47,2470.11,2469.64,2471.26,2470.80,2470.40
1,11,2019.01.02,09:41:00,2470.96,2474.12,2473.98,2470.94,2469.75,2470.78,2470.74,2471.55,2468.84,2467.47,2470.11,2469.64,2471.26,2470.80
2,12,2019.01.02,09:42:00,2473.99,2475.74,2474.48,2473.63,2470.94,2469.75,2470.78,2470.74,2471.55,2468.84,2467.47,2470.11,2469.64,2471.26
3,13,2019.01.02,09:43:00,2474.51,2476.25,2476.21,2474.36,2473.63,2470.94,2469.75,2470.78,2470.74,2471.55,2468.84,2467.47,2470.11,2469.64
4,14,2019.01.02,09:44:00,2476.18,2476.99,2476.93,2474.72,2474.36,2473.63,2470.94,2469.75,2470.78,2470.74,2471.55,2468.84,2467.47,2470.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95215,97735,2019-12-31,15:55:00,3228.82,3230.04,3228.62,3230.04,3228.88,3226.59,3226.12,3224.97,3225.65,3226.01,3225.86,3226.68,3226.94,3226.77
95216,97736,2019-12-31,15:56:00,3230.06,3230.08,3228.42,3228.42,3230.04,3228.88,3226.59,3226.12,3224.97,3225.65,3226.01,3225.86,3226.68,3226.94
95217,97737,2019-12-31,15:57:00,3228.23,3228.47,3227.39,3227.62,3228.42,3230.04,3228.88,3226.59,3226.12,3224.97,3225.65,3226.01,3225.86,3226.68
95218,97738,2019-12-31,15:58:00,3227.70,3228.14,3227.21,3227.58,3227.62,3228.42,3230.04,3228.88,3226.59,3226.12,3224.97,3225.65,3226.01,3225.86
95219,97739,2019-12-31,15:59:00,3227.75,3231.72,3227.75,3230.56,3227.58,3227.62,3228.42,3230.04,3228.88,3226.59,3226.12,3224.97,3225.65,3226.01

In [88]:
final['Next'] = final['Close'].shift(-1)

In [90]:
final["Target"] = (final["Next"] > final["Close"]).astype(int)

In [91]:
final

,index,Day,Minute,Open,High,Low,Close,Prev 1,Prev 2,Prev 3,Prev 4,Prev 5,Prev 6,Prev 7,Prev 8,Prev 9,Prev 10,Next,Target
0,10,2019.01.02,09:40:00,2473.16,2473.17,2471.02,2469.75,2470.78,2470.74,2471.55,2468.84,2467.47,2470.11,2469.64,2471.26,2470.80,2470.40,2470.94,1
1,11,2019.01.02,09:41:00,2470.96,2474.12,2473.98,2470.94,2469.75,2470.78,2470.74,2471.55,2468.84,2467.47,2470.11,2469.64,2471.26,2470.80,2473.63,1
2,12,2019.01.02,09:42:00,2473.99,2475.74,2474.48,2473.63,2470.94,2469.75,2470.78,2470.74,2471.55,2468.84,2467.47,2470.11,2469.64,2471.26,2474.36,1
3,13,2019.01.02,09:43:00,2474.51,2476.25,2476.21,2474.36,2473.63,2470.94,2469.75,2470.78,2470.74,2471.55,2468.84,2467.47,2470.11,2469.64,2474.72,1
4,14,2019.01.02,09:44:00,2476.18,2476.99,2476.93,2474.72,2474.36,2473.63,2470.94,2469.75,2470.78,2470.74,2471.55,2468.84,2467.47,2470.11,2476.87,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95215,97735,2019-12-31,15:55:00,3228.82,3230.04,3228.62,3230.04,3228.88,3226.59,3226.12,3224.97,3225.65,3226.01,3225.86,3226.68,3226.94,3226.77,3228.42,0
95216,97736,2019-12-31,15:56:00,3230.06,3230.08,3228.42,3228.42,3230.04,3228.88,3226.59,3226.12,3224.97,3225.65,3226.01,3225.86,3226.68,3226.94,3227.62,0
95217,97737,2019-12-31,15:57:00,3228.23,3228.47,3227.39,3227.62,3228.42,3230.04,3228.88,3226.59,3226.12,3224.97,3225.65,3226.01,3225.86,3226.68,3227.58,0
95218,97738,2019-12-31,15:58:00,3227.70,3228.14,3227.21,3227.58,3227.62,3228.42,3230.04,3228.88,3226.59,3226.12,3224.97,3225.65,3226.01,3225.86,3230.56,1
95219,97739,2019-12-31,15:59:00,3227.75,3231.72,3227.75,3230.56,3227.58,3227.62,3228.42,3230.04,3228.88,3226.59,3226.12,3224.97,3225.65,3226.01,NaN,0

In [94]:

for i in range(95220):
    if final.at[i+1, 'Minute'] == d:
        final.drop(i,axis=0,inplace=True)

KeyError: 95220

In [103]:
final = final.reset_index()

In [105]:
del final['level_0']
del final['index']

In [107]:
final = final.dropna()

,Day,Minute,Open,High,Low,Close,Prev 1,Prev 2,Prev 3,Prev 4,Prev 5,Prev 6,Prev 7,Prev 8,Prev 9,Prev 10,Next,Target
0,2019.01.02,09:40:00,2473.16,2473.17,2471.02,2469.75,2470.78,2470.74,2471.55,2468.84,2467.47,2470.11,2469.64,2471.26,2470.80,2470.40,2470.94,1
1,2019.01.02,09:41:00,2470.96,2474.12,2473.98,2470.94,2469.75,2470.78,2470.74,2471.55,2468.84,2467.47,2470.11,2469.64,2471.26,2470.80,2473.63,1
2,2019.01.02,09:42:00,2473.99,2475.74,2474.48,2473.63,2470.94,2469.75,2470.78,2470.74,2471.55,2468.84,2467.47,2470.11,2469.64,2471.26,2474.36,1
3,2019.01.02,09:43:00,2474.51,2476.25,2476.21,2474.36,2473.63,2470.94,2469.75,2470.78,2470.74,2471.55,2468.84,2467.47,2470.11,2469.64,2474.72,1
4,2019.01.02,09:44:00,2476.18,2476.99,2476.93,2474.72,2474.36,2473.63,2470.94,2469.75,2470.78,2470.74,2471.55,2468.84,2467.47,2470.11,2476.87,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94963,2019-12-31,15:54:00,3226.48,3228.88,3226.24,3228.88,3226.59,3226.12,3224.97,3225.65,3226.01,3225.86,3226.68,3226.94,3226.77,3226.70,3230.04,1
94964,2019-12-31,15:55:00,3228.82,3230.04,3228.62,3230.04,3228.88,3226.59,3226.12,3224.97,3225.65,3226.01,3225.86,3226.68,3226.94,3226.77,3228.42,0
94965,2019-12-31,15:56:00,3230.06,3230.08,3228.42,3228.42,3230.04,3228.88,3226.59,3226.12,3224.97,3225.65,3226.01,3225.86,3226.68,3226.94,3227.62,0
94966,2019-12-31,15:57:00,3228.23,3228.47,3227.39,3227.62,3228.42,3230.04,3228.88,3226.59,3226.12,3224.97,3225.65,3226.01,3225.86,3226.68,3227.58,0
94967,2019-12-31,15:58:00,3227.70,3228.14,3227.21,3227.58,3227.62,3228.42,3230.04,3228.88,3226.59,3226.12,3224.97,3225.65,3226.01,3225.86,3230.56,1

In [109]:
final.to_csv('usable_sp2019.csv')